@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-[var(--bg)] text-[var(--text)];
}

a {
  @apply text-inherit no-underline;
}

.form-input-tailwind {
  @apply p-5 rounded border-none outline-none bg-[var(--bg)] text-[var(--text)];
}

.form-button-tailwind {
  @apply p-4 bg-[var(--btn)] text-[var(--text)] font-bold border-none rounded
}